body {
    background-image: url('triangle.jpg');
    background-color: #cccccc;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',
    sans-serif;
    text-shadow: 1px 2px gray;
    font-size: 31px;
    font-weight: 300;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;

}
